# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Evolution Game/Assembly-CSharp-Editor-vs.csproj
Evolution Game/Assembly-CSharp-Editor.csproj
Evolution Game/Assembly-CSharp-firstpass-vs.csproj
Evolution Game/Assembly-CSharp-firstpass.csproj
Evolution Game/Assembly-CSharp-vs.csproj
Evolution Game/Assembly-CSharp.csproj
Evolution Game/Evolution Game-csharp.sln
Evolution Game/Evolution Game.sln
Evolution Game/ProjectSettings/ProjectSettings.asset
Evolution Game/ProjectSettings/ProjectVersion.txt
